/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
#content.minor section {
    color: rgb(85, 0, 255);
    font-size: 110%;
    padding: 10px;
    margin-bottom: 10px;
    border-style: ridge;
    border-width: 15pc;
    border-color:#666ae2;
    background-color: black;
    font-family: 'Fantasy','Franklin Gothic Medium','Geogia','Times New Roman';
  }
  
  